%form{:action => "/auth/yelp/", :method => "GET"}
  %label{:for => "term"} Search term
  %input{:name => "term", :value => "cream puffs"}/
  %br/
  %label{:for => "term"} location
  %input{:name => "location",:value => "San Francisco"}/
  %br/
  %input{:type => "submit"}
